.tarea-formulario{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tarea-input{
    width: 300px;
    font-size: 18px;
    background-color: white;
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid green;
    outline: none;
}
.boton-tarea{
    padding: 16px;
    font-size: 18px;
    font-family: sans-serif;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    background: green;
    color: white;
    text-transform: capitalize;
}