*{
    margin:0;
    padding: 0;
    box-sizing: content-box;
}

html,body{
    color: white;
    background-color: rgb(51, 48, 48);
    font-family: Lato, sans-serif;
    margin-top: 40px;
}

h1{
    color: rgb(29, 26, 26);
    font-size: 25px;
    font-family: Roboto, sans-serif;
    text-align: center;
    margin: 20px 0;
}

.aplicacion-tareas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.logo-contenedor{
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 200px;
    height: 157px;
    margin-top: 0px;
}

/* lista de tareas */

.tareas-lista-principal{
    width:600px;
    min-height: 500px;
    background-color: rgb(208, 208, 196);
    padding: 25px;
    margin: 10px;
    border-radius: 26px;

}


